[Unit]
Description=FuriOS gallery database management and thumbnail daemon

[Service]
Type=simple
ExecStart=/usr/libexec/furios-gallery-daemon
Restart=on-failure
