[Desktop Entry]
Type=Application
Name=Gallery
Exec=io.furios.Gallery
Icon=io.furios.Gallery
Terminal=false
Categories=Utility;Graphics;
StartupNotify=true
Keywords=gallery;furios;images;photos;
